.login {
  h1 {
    cursor: default;
    font-family: $mediumfont;
    letter-spacing: 5px;
    color: #c00;
    margin-bottom: 30px;
  }

  .loginerror {
    padding: 20px 20px 10px 20px;
    overflow: hidden;
    color: #c00;
    margin: 25px 0;
    background-color: #efefef;
  }

  .form-control,
  .btn {
    font-size: $font-size;
  }

  .form-horizontal .control-label {
    text-align: left;
  }

  .btn {
    font-weight: bold;
    text-shadow: 0 1px 0 #1963a2;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 8px 15px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 30px;
  }

  .btn-primary {
    background-color: #2192f1;
    border-bottom: 3px solid #104978;

    &:hover {
      background-color: #104978;
      border-bottom: 3px solid #08243c;
    }
  }
}
