<div class="container editprofile" ng-if="editprofile.error_message">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="errormessage">
      <p>
        {{editprofile.error_message}}
      </p>
      <p class="navigation">
        <a ui-sref="viewprofile.about({ userID: editprofile.user._id })">← Back to artist view</a>
      </p>
    </div>
  </div>
</div>

<div class="container editprofile" ng-if="!editprofile.error_message">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>{{editprofile.user.name}}</h1>
    <form class="form-horizontal" ng-submit="editprofile.saveUser(editprofile.user)">
      <div class="form-group">
        <label for="firstname" class="col-sm-4 control-label">First name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="firstname" ng-model="editprofile.user.firstName" required>
        </div>
      </div>
      <div class="form-group">
        <label for="lastname" class="col-sm-4 control-label">Last name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="lastname" ng-model="editprofile.user.lastName" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="editprofile.user.email" required>
        </div>
      </div>
      <div class="form-group">
        <label for="file" class="col-sm-4 control-label">Profile photo <br /> (not bigger than 3MB)</label>
        <div class="col-sm-8 image-upload">
          <img ngf-src="editprofile.user.profilePhoto">
          <input ngf-select
                  id="file"
                  type="file"
                  ngf-capture="'camera'"
                  ng-model="editprofile.user.profilePhoto"
                  ngf-accept="'image/*'"
                  ngf-max-size="3MB"
                  ngf-resize="{width: 200, height: 200, quality: .8, type: 'image/jpeg',
                    ratio: '1:2', centerCrop: true, pattern='.jpg'}">
          <input ng-if="editprofile.user.profilePhoto" type="button" name="remove_image" value="Remove" ng-click="editprofile.removeImage()">
        </div>
      </div>
      <div class="form-group">
        <label for="street" class="col-sm-4 control-label">Streetname + Housenr.</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="street" placeholder="Superstreet" ng-model="editprofile.user.street" required>
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="housenumber" placeholder="98" ng-model="editprofile.user.housenumber" required>
        </div>
      </div>
      <div class="form-group">
        <label for="city" class="col-sm-4 control-label">City + ZIP</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="city" placeholder="Berlin" ng-model="editprofile.user.city" required>
        </div>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="zip" placeholder="10406" ng-model="editprofile.user.zip" required>
        </div>
      </div>
      <div class="form-group">
        <label for="country" class="col-sm-4 control-label">Country</label>
        <div class="col-sm-8">
          <select class="form-control" ng-options="country for country in editprofile.countries" ng-model="editprofile.user.country" required></select>
        </div>
      </div>
      <div class="form-group">
        <label for="phone" class="col-sm-4 control-label">Phone</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="phone" placeholder="+49 151 135143"  ng-model="editprofile.user.phone">
        </div>
      </div>
      <div class="form-group">
        <label for="website" class="col-sm-4 control-label">Website</label>
        <div class="col-sm-8">
          <div class="input-group">
            <div class="input-group-addon">http://</div>
            <input type="text" class="form-control" id="website" ng-model="editprofile.user.url" placeholder="www.website-of-user.com">
          </div>

        </div>
      </div>
      <div class="form-group">
        <label for="aboutme" class="col-sm-4 control-label">About Me</label>
        <div class="col-sm-8">
          <trix-editor angular-trix id="description" ng-model="editprofile.user.aboutme"></trix-editor>
        </div>
      </div>
      <div class="form-group">
        <label for="aboutme" class="col-sm-4 control-label">Are you an artist?</label>
        <div class="col-sm-8">
          <span>When you select yes, you appear under the 'Artist' section and other people can find you.</span><br />
          <input type="radio" ng-model="editprofile.user.isArtist" ng-value="true"> Yes <br />
          <input type="radio" ng-model="editprofile.user.isArtist" ng-value="false"> No
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
          <button type="submit"
                  class="btn btn-success">Save
          </button>
          <button type="button"
                  class="btn btn-default"
                  ng-click="editprofile.goBack(editprofile.user._id)">Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
